@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap");

* {
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  margin-bottom: 50px;
}

h1 {
    margin-left: 20px;
    margin-right: 20px;
}

h3,p {
    margin-left: 40px;
    margin-right: 40px;
}


.prog {
    margin-left: 40px;
}

span {
    margin-left: 40px;
}

.nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 15px 200px;
  background: #030506;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.nav,
.nav .nav-links {
  display: flex;
  align-items: center;
}

.link {
  color: white;
  text-decoration: none;
}

.nav {
  justify-content: space-between;
}

a {
  color: #000000;
  text-decoration: none;
}

.nav .logo {
  font-size: 22px;
  font-weight: 500;
}

.nav .nav-links {
  column-gap: 20px;
  list-style: none;
}

.nav .nav-links a {
  transition: all 0.2s linear;
  padding: 10px 14px;
}

.nav.openSearch .nav-links a {
  opacity: 0;
  pointer-events: none;
}

.nav .search-icon {
  color: #fff;
  font-size: 20px;
  cursor: pointer;
}

.nav .search-box {
  position: absolute;
  right: 250px;
  height: 45px;
  max-width: 555px;
  width: 100%;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s linear;
}

.nav.openSearch .search-box {
  opacity: 1;
  pointer-events: auto;
}

.search-box .search-icon {
  position: absolute;
  left: 15px;
  top: 50%;
  left: 15px;
  color: #4a98f7;
  transform: translateY(-50%);
}

.search-box input {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  border-radius: 6px;
  background-color: #fff;
  padding: 0 15px 0 45px;
}

/* responsive */
@media screen and (max-width: 1160px) {
  .nav {
    padding: 15px 100px;
  }
  .nav .search-box {
    right: 150px;
  }
}

@media screen and (max-width: 950px) {
  .nav {
    padding: 15px 50px;
  }
  .nav .search-box {
    right: 100px;
    max-width: 400px;
  }
}

    .link:hover{
        background: #03e9f4;
        color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
        transition: .5s;            
    }

    .logo {
       color: #fff;
    }

    progress {
        width: 300px;
        height: 25px;
        border-radius: 20px;
        border: 2px solid #030506;
    }
      progress::-webkit-progress-bar {
        background-color: #030506;
        border-radius: 20px;
      }
      progress::-webkit-progress-value {
        background-color: #03e9f4;
        box-shadow: 0 0 5px #03e9f4;
        border-radius: 20px;
    } 

    input[type=checkbox] {
        accent-color: black;
        transition: accent-color 0.3s ease;
      }

      input[type=checkbox]:hover {
        accent-color:  #03e9f4;
      }

      .search-results .result[data-keyword*="design"] {
        font-weight: bold;
        color: #000; 
    }
    
    .search-box {
        position: relative;
        margin: 10px auto;
        width: 60%;
    }
    
    .search-input {
        width: 100%;
        padding: 10px;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
    }

    .search-box input[type="text"]::placeholder {
      color: black !important;
    }
    
    .search-results {
      display: flex;
      flex-direction: column; 
      padding: 0 8px;
      background-color: #ffffff;
      border: solid black 2px;
    }
    
    .result {
      cursor: pointer;
    
    }
    
    .result:hover {
      background-color: #000000; 
      color: #fff; 
    }
    
    a {
      text-decoration: none; 
      color: #000; 
    }
    
    a:hover {
      color: #4b99f7;
    }

    .button {
        padding: 6px 12px;
        border-radius: 10px;
        transition: 1s;
        border: 2px solid black;
        position: fixed;
        bottom: 20px;
        right: 20px;
        background-color: #fff;
    }

    .button:hover{
        background: #03e9f4;
        color: #fff;
        border-radius: 10px;
        box-shadow: 0 0 5px #03e9f4,
                    0 0 25px #03e9f4,
                    0 0 50px #03e9f4,
                    0 0 100px #03e9f4;
        transition: 1s;            
    }